<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p class="float-left">LiteInvite is &copy; Mike Thielvoldt</p>
        <!-- <p>Default photo by James Wheeler from Pexels</p> -->

    </div>
</footer>

</body>

</html>