
# User-uploaded images
public/user-images/*

# Thumbnails
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
.env.test
/*.env

# Stores VSCode versions used for testing VSCode extensions
/.vscode
.code-workspace
.vscode-test

# lock files for libreOffice
.~lock.*

# Keep all .gitkeep files - useful for keeping otherwise empty folders.
!*.gitkeep
