[Unit]
Description=The LiteInvite.com web app running on nodejs
# mongod is after network.target, so both must be running. 
After=mongod.service
StartLimitIntervalSec=0

[Service]
User=www-data
Group=www-data
Restart=always
RestartSec=1
Environment="SESSION_SECRET=AtTheFarEndOfTownWhereTheGrickleGrassGrows,"
Environment="NODE_ENV=production"
WorkingDirectory=/home/rileyt/Webdev/LiteInvite
ExecStart=/usr/bin/node /home/rileyt/Webdev/LiteInvite/app.js

[Install]
WantedBy=multi-user.target