<%- include('partials/header') %>

<!-- <div class="container"></div> -->
    <h3>Sign in to LiteInvite</h3>

    <!-- Makes POST request to /login route -->
    <div class="auth-form-body">

        <form action="/login" method="POST">
            <div>
                <label for="email">Email</label>
                <input type="email" name="username" autofocus>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password">
            </div>
            <button type="submit" class="btn btn-dark">Login</button>
            
        </form>
    </div>
    <div class="auth-form-body">
        <span>New to LiteInvite?</span><a class="btn btn-light signup-btn" href="/register" role="button">Sign-Up</a>
    </div>

<!-- </div> -->

<%- include('partials/footer') %>