  
html {
  min-height: 100%;
}

  body {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 500;
    background-size: cover;
    width: 100%;
    position: relative;
  }

  img {
    text-align: center;
    line-height: 225px;
  }

  .text-shadow {
    text-shadow: 2px 2px 4px black;
  }

  h5 {
    margin-bottom: .2rem;
  }

  p {
    font-size: 1.3rem;
  }

  .no-shrink {
    flex-shrink: 0;
  }
  .growable {
    flex-grow: 1;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3); /* Black background with opacity */
    box-shadow: inset 0 0 6rem rgba(0, 0, 0, .5);
    z-index:-1;
  }

  .desc-view {
    white-space: pre-line;
  }

  #menu {
    margin-left: auto;
    padding-right: 15px;
  }

  #about-text {
    flex-shrink: 1;
    min-width: 20rem;
  }

  .event-detail {
    background-color: rgba(0,0,0,0.4); /* Black background with opacity */;
    border: 1px solid black;
    color: white;
    padding: .5rem;
  }

  .event-detail-single {
    border-radius: .25rem;
    margin-bottom: .9rem;
    width: 100%;
  }


  .guest-text {
    margin: auto 0;
  }

  .guest-delete-button {
    height: 24px;
  }

  .guest-email {
    min-width: 60%;
    flex-grow: 1;
    padding: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .guest-status {
    text-align: center;
    width: 70px;
  }

  .guest-email-input {
    display: block;
  }

  .input-group .custom-file {
    max-width: 18rem;
    overflow: hidden;
  }


  footer {
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    opacity: 0.5;
  }


  .login-box {
    margin: 25px auto;
    border: 1px solid #8797a1;
    padding: 15px 20px;
    border-radius: 5px;
    width: 340px;
  }
  .auth-form-box {
    margin-top: 5%;
  }
  
  .auth-input {
    border: 1px solid rgba(136, 136, 136, 0.6);
    background-color: rgba(136, 136, 136, 0.2);
    width: 100%;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    font-size: 18px;
    font-weight: 300;
  }
  
  .signup-btn {
    margin-left: 15px;
  } 
  